In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import IsolationForest
from sklearn.metrics import precision_score

In [3]:
df = pd.read_csv(r"C:\Users\sruthi\Pictures\Downloads\New folder (10)\creditcard.csv")
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [9]:
df.shape
df.info()
df['Class'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

Class
0    284315
1       492
Name: count, dtype: int64

In [11]:
X = df.drop(columns=['Class'])
y = df['Class']

In [15]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [39]:
iso_forest = IsolationForest(
    n_estimators=200,
    contamination=0.0012,
    random_state=42
)

In [43]:
y_pred = np.where(y_pred_raw == -1, 1, 0)

In [45]:
precision = precision_score(y, y_pred)
precision

0.25773195876288657

In [47]:
results = df.copy()
results['Predicted_Fraud'] = y_pred

fraud_cases = results[results['Predicted_Fraud'] == 1]
fraud_cases.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V22,V23,V24,V25,V26,V27,V28,Amount,Class,Predicted_Fraud
1632,1264.0,-11.140706,-9.612726,-12.389545,6.013346,-32.092129,21.393069,34.303177,-7.520784,-1.925732,...,1.366110,-2.925888,0.843551,0.746267,0.801387,3.852046,4.157934,7712.43,0,1
2963,2507.0,-6.200114,5.025406,-2.742492,-0.940903,-6.656259,5.432294,-9.198175,-22.588547,-3.244295,...,4.393846,1.943002,0.846005,-1.343379,-0.707634,-0.210219,0.066529,544.62,0,1
4608,3967.0,-7.896534,6.224859,-2.913981,-4.154047,1.171430,2.749061,0.031022,0.749092,7.783716,...,-1.323267,0.366454,0.840169,1.469106,0.786302,3.294538,1.681022,1.46,0,1
5425,5406.0,-8.733429,-5.681953,2.253879,3.930311,-0.916149,4.355297,5.400286,-4.994383,6.819787,...,1.525158,-1.428302,-0.030181,-0.029485,-0.264455,-7.976100,4.712560,553.60,0,1
6624,8130.0,-9.175447,7.906022,-2.068334,-0.901683,-2.178911,4.675277,-8.314425,-22.605711,3.095693,...,-8.483441,3.638520,-0.533970,0.428590,0.222205,1.159270,0.179528,23.98,0,1

In [49]:
print("Total Transactions:", len(df))
print("Actual Fraud Cases:", y.sum())
print("Detected Fraud Cases:", y_pred.sum())
print("Precision Score:", precision)

Total Transactions: 284807
Actual Fraud Cases: 492
Detected Fraud Cases: 485
Precision Score: 0.25773195876288657

In [51]:
fraud_cases.to_csv("detected_fraud_cases.csv", index=False)

In [53]:
import os

os.getcwd()

'C:\\Users\\sruthi'

In [55]:
os.listdir()

['.anaconda',
 '.bash_history',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.git',
 '.gitconfig',
 '.idea',
 '.idlerc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.keras',
 '.matplotlib',
 '.ms-ad',
 '.ollama',
 '.spyder-py3',
 '.streamlit',
 '.VirtualBox',
 '.vscode',
 '1.py',
 '3D Objects',
 'add.c',
 'aml lab2.ipynb',
 'anaconda3',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'Desktop',
 'detected_fraud_cases.csv',
 'Documents',
 'edaTITANICtrain.ipynb',
 'Favorites',
 'Figure_2 sentiment prorpotion.png',
 'Figure_3 common positive.png',
 'Figure_4 common negative.png',
 'import googleapiclient.py',
 'IntelGraphicsProfiles',
 'Jedi',
 'lab3',
 'LC.ipynb',
 'Lc1.ipynb',
 'linkedin-insights',
 'linkedin_session',
 'Links',
 'Local Settings',
 'loops.py',
 'LR_multivariable.ipynb',
 'LR_single-variable.ipynb',
 'Microsoft',
 'mom if.c',
 'mom if.exe',
 'mom.c',
 'mom.exe',
 'moon',
 'Music',
 'My Documents',
 'NetHood',
 'New folder',
 'New folder (2)',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{82349631-8ae3-11f0-9a4b-bc650a8877b3}.TxR.0.regtrans-ms',
 'NTUSER.DAT{82349631-8ae3-11f0-9a4b-bc650a8877b3}.TxR.1.regtrans-ms',
 'NTUSER.DAT{82349631-8ae3-11f0-9a4b-bc650a8877b3}.TxR.2.regtrans-ms',
 'NTUSER.DAT{82349631-8ae3-11f0-9a4b-bc650a8877b3}.TxR.blf',
 'NTUSER.DAT{82349632-8ae3-11f0-9a4b-bc650a8877b3}.TM.blf',
 'NTUSER.DAT{82349632-8ae3-11f0-9a4b-bc650a8877b3}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{82349632-8ae3-11f0-9a4b-bc650a8877b3}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'predictions.csv',
 'PrintHood',
 'PROJECT_TRY_1.ipynb',
 'PycharmProjects',
 'rattlesnake',
 'Recent',
 'Roaming',
 'Sales Performance.xlsx',
 'Saved Games',
 'Searches',
 'SendTo',
 'sri.c',
 'sruthi c',
 'Start Menu',
 'task2ai.ipynb',
 'Templates',
 'Untitled.ipynb',
 'untitled.txt',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'UsaHousing.ipynb',
 'USA_Housing.csv',
 'Videos',
 'VirtualBox VMs']

In [57]:
fraud_cases.shape

(485, 32)

In [59]:
fraud_cases[['Time', 'Amount', 'Class', 'Predicted_Fraud']].head(10)

         Time   Amount  Class  Predicted_Fraud
1632   1264.0  7712.43      0                1
2963   2507.0   544.62      0                1
4608   3967.0     1.46      0                1
5425   5406.0   553.60      0                1
6624   8130.0    23.98      0                1
6783   8544.0  4002.88      0                1
6812   8592.0   845.73      0                1
6971   9064.0  1809.68      1                1
7485  10201.0  1895.88      0                1
7617  10538.0  3995.92      0                1

In [61]:
print("PROJECT SUMMARY")
print("----------------")
print(f"Total Transactions: {len(df)}")
print(f"Actual Fraud Transactions: {y.sum()}")
print(f"Detected Fraud Transactions: {y_pred.sum()}")
print(f"Precision Score: {precision:.4f}")

PROJECT SUMMARY
----------------
Total Transactions: 284807
Actual Fraud Transactions: 492
Detected Fraud Transactions: 485
Precision Score: 0.2577